header#main{
    width: 100%;
    height: 100px;
    background-color: #4855ff;
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}